<section type="layout-two-containers" ps-sectionid="{{sectionid}}" class="ps-section">
  <div class="containers-wrapper">
    <div class="container1"></div>
    <div class="container2"></div>
  </div>
</section>