    <ul  class="slide__row slide__row-order-{{{content.rowOrder}}} text-{{content.alignment}}">
        {{#each content.events}}

                <li class="event-static event-item slide__row slide__row-event" style="{{../content.textStyle}}">
                    <div class="event-list-item">{{eventDetails.[0].name}}</div>
                    <div class="event-list-item">{{friendlyDateTime}}</div>
                    <div class="event-list-item">@{{eventDetails.[0].meetingPointDescription}}</div>
                    <div class="event-list-item">{{../content.eventHashtag}}</div>
                </li>

                <li class="event-slide event-item slide__row slide__row-event" style="{{../content.textStyle}}">
                    {{friendlyDateTime}} {{{eventDetails.[0].name}}}
                    <div class="location-swipe"><span>{{friendlyDateTime}} at {{eventDetails.[0].meetingPointDescription}}</span></div>
                </li>

        {{/each}}
    </ul>