<div class="slide__row slide__row-media slide__row-order-{{{content.rowOrder}}}" style="background-image: url({{content.filename}});background-origin: padding-box;background-position: 50% 50%;background-repeat: no-repeat;background-size: auto;">
</div>