$default-spacing:3px;
@mixin tradefont1($size,$letter-spacing:$default-spacing) {
  font-family: "TradeGothicW01-BoldCn20 675334",Helvetica,Arial,sans-serif;
  font-size: $size;
  letter-spacing: $letter-spacing;
}

@mixin tradefont2($size,$letter-spacing:$default-spacing) {
  font-family: "TradeGothicW01-BoldCn20 675337",Helvetica,Arial,sans-serif; 
  font-size: $size;
  letter-spacing: $letter-spacing;
}

@mixin futurafont1($size,$letter-spacing:$default-spacing) {
  font-family: "FuturaW01-ExtraBoldCond 774896", Helvetica, Arial, sans-serif;
  font-size: $size;
  letter-spacing: $letter-spacing;
}

@mixin transition($transition-properties...) {
    -webkit-transition: $transition-properties;
    -moz-transition: $transition-properties;
    -ms-transition: $transition-properties;
    -o-transition: $transition-properties;
    transition: $transition-properties;
}

@mixin bolt($height, $top, $color){

  &.on{
    .bg {
      transition-delay: .3s;
      -webkit-transition-delay: .3s;
      top:$top;
      opacity:1;
      height:$height;
        backface-visibility: hidden;
    }

  }
  .bg{
    @include transition(all 0.4s ease-out); 
    position: absolute;
    top:75%;
    opacity:0;
    width:100%;   
    height: 10%;
    background-color: $color;
    -webkit-transform:skewY(150deg);
  }
}