$green:#d4ff45;
$white:#fff;
$height:144px;
$totalheight:234px;

$ease-in-out:cubic-bezier(0.86, 0, 0.07, 1);

$ease-in:cubic-bezier(0.755, 0.05, 0.855, 0.06);

$ease-out:cubic-bezier(0.23, 1, 0.32, 1);

$display_width:1152px;
$display_height:1080px;


@import "./_fonts.scss";
@import "_mixins.scss";

body{
  background:#000;
//  background:url(../img/Readerboard.jpg);
//  background-position: center top;
  overflow: hidden;
  width:1920px;
  height:$display_height;
}
.sections {
  width:$display_width;
  height:$display_height;
  margin:0 auto;
  position: relative;
  overflow: hidden;
}

section{
  width: 100%;
  height:100%;
  position: absolute;
  left: 0;
  z-index: 0;
  color: $white;
  top: 0;
  opacity:0;

  h2, ul li{
    width: 100%;
    height:$height;
    line-height: $height;
    margin-bottom: 90px;
  }
  h2 {
    text-transform: uppercase;
    @include tradefont1(90px, 10px);    
    // font-family: "FuturaW01-ExtraBoldCond 774896", Helvetica, Arial, sans-serif;
    // font-size: 90px;
    // letter-spacing: -2px;
    padding: 0 50px;
    .plus-symbol{
      display: inline-block;
      position: relative;
      top: -10px;
    }     
  }

  ul{
    li{
      padding: 0 50px;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      text-transform: uppercase;
      @include tradefont1(60px, 0px);
      width: 100%;
      white-space: nowrap;

      .plus-symbol{
          display: inline-block;
          position: relative;
          top: -7px;
      }
      &:last-child {
        margin-bottom: 0px;
      }

      &.handle,
      &.hashtag {
        bottom: 0;
        color: $green;
        display: none;
        margin-bottom: 0;
        position: absolute;

        &.show {
          display: list-item;
        }

        span {
          display: inline-block;
          float: right;
        }
      }

      &.handle {
        letter-spacing: 1px;
        padding: 0 55px 0 45px;
      }

      &.hashtag {
        font-size: 80px;
        text-align: center;
      }

      .location-swipe {
        background: #000;
        border-right: 6px solid $green;
        box-sizing: border-box;
        display: none;
        height: 80px;
        left: 0;
        line-height: 80px;
        overflow: hidden;
        padding: 0 0 0 0;
        position: absolute;
        top: 32px;
        text-overflow: ellipsis;
        -webkit-transition: width 750ms $ease-in;
        transition: width 750ms $ease-in;
        white-space: nowrap;
        width: 0%;

        &.animate {
          width: 105%;
        }

        span {
          box-sizing: border-box;
          display: block;
          margin-left: 50px;
          margin-right: 50px;
          // padding: 0 50px;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 1052px;
        }
      }
    }
  }
  &.trainingclub{
    ul{
      li{
        span.line{
          display: inline-block;
          height: 112px;
          border-bottom:4px solid $white; 
        }
      }
    }
  }
  &.out{
    opacity:0;
  }
  &.in,&.ondeck{
    opacity:1;
  }

  &.proservices {
    background: url(/img/nyclogo.jpg);
    background-position: 50%;
    background-repeat: no-repeat;

    h2 {
      opacity: 0;
    }

    .hashtag {
      font-family: "FuturaW01-ExtraBoldCond 774896", Helvetica, Arial, sans-serif;
      letter-spacing: -1px;
    }
  }

}

@import "./_animations.scss";


.mask{
  position: absolute;
  left: 0;
  top:0;
  width:1920px;
  height:$display_height;
  z-index: 5;

  background: url(../img/maskimage.png);
  background-size: 1920px $display_height;
  background-position: center top;
}