.sections-container section section .slide__row.slide__row-text {
  font-family: "FuturaW01-ExtraBoldCond 774896", Helvetica, Arial, sans-serif;
}

.slide__row-event.event-static {
  display: block !important;
  position: absolute !important;
  .event-list-item {
    display: none;

    &.active {
      display: block;
    }
  }
}