$gblength:5;
#greenbars {
	#svg-transition{display:none;}
	.bars1{
		opacity:1;
	}
	.bars2{
		opacity:0;
	}

}
.greenbars{
/*	section.in{
		opacity:1;			
	}*/
	/*green shutters animation*/
	#greenbars{
		#svg-transition{
			display: block;
			position: absolute;
			top:0;
			#clipPath1,#clipPath2,#clipPath3,#clipPath4,#clipPath5{
				-webkit-transform: translateX(-$display_width);
			}
		}
	    width: $display_width;
	    height: $display_height;
	    margin: 0 auto;
	}


	&.in{
		.animations{
		 -webkit-animation-name: shutterAnimationTimer;
		 -webkit-animation-duration: 1.2s;
		 -webkit-animation-iteration-count: 2;
		 -webkit-animation-direction: alternate;
		 -webkit-animation-timing-function: ease-out;
		 -webkit-animation-fill-mode: forwards;
		}

		#greenbars {
	      	@for $i from 1 through 3{
				#svg-transition #clipPath#{$i}{
					-webkit-animation-name: moveMask;
					-webkit-animation-duration: 1.6s;
					-webkit-animation-iteration-count: 1;
					-webkit-animation-direction: normal;
					-webkit-animation-timing-function: $ease-in-out;
					-webkit-animation-fill-mode: forwards;
					-webkit-animation-delay: $i*0.1s;
				}
			}
		}
	}
}

@-webkit-keyframes moveMask {
	0%{
		-webkit-transform: translateX(-$display_width);	
	}
	35%{
		-webkit-transform: translateX(0);	
	}
	65%{
		-webkit-transform: translateX(0);	
	}
	100%{
		-webkit-transform: translateX($display_width);
	}
}


@-webkit-keyframes barsAnimationTimer {
  0% {
    height:1080px;
  }
  50% {
    height:1080px;
  }
  100%{
    height:1080px;
  }
}
@-webkit-keyframes barsAnimationIn {
  0% {
  	width: auto;
  	left:-90%;
  	right: 100%;
  }
  40%{
  	width: auto;
  	left:0%;
  	right:0%;  	
  }
  60%{
  	width: auto;
  	left:0%;
  	right:0%;   	
  }
  100%{
  	width: auto;
  	left:100%;
  	right: -90%;
  }
}
@-webkit-keyframes barsItemsAnimationIn {
  0% {
  	opacity:0;
  }
  100%{
  	opacity:1;

  }
}