$gblength:10;
$barlength:5;

.hazardbar{
/*	section.in{
		opacity:1;			
	}*/
	/*green shutters animation*/
	#greenbars{
	    width: $display_width;
	    height: $display_height;
	    margin: 0 auto;
	    ul{
	      width: $display_width;
	      height: 100%;
	      //overflow: hidden;
	      li{
	      	overflow: hidden;
	      	position: relative;
	        display: block;

	        div{
				-webkit-transform-origin: 0% 0%;
				-webkit-transform: skewX(-64deg);
	        	span{
					-webkit-transform-origin: 50% 0%;
					-webkit-transform: scaleX(0);
	        		display: block;
		          	background: $green;
				  	width: 104%;
				  	height: 100%;
	        	}

	        	display: block;
	        	float: left;
				width:208px;
				height:100%;
				margin: auto 0;

	        }
	        width:1500px;
			height:$totalheight;
	      }
	    }
	}

$delaySize:.25s;
$animTime:.25s;

	&.in{
		.animations{
		 -webkit-animation-name: shutterAnimationTimer;
		 -webkit-animation-duration: 1.5s;
		 -webkit-animation-iteration-count: 2;
		 -webkit-animation-direction: alternate;
		 -webkit-animation-timing-function: ease-out;
		 -webkit-animation-fill-mode: forwards;
		}

		#greenbars {

			ul li {
		      	@for $n from 1 through $barlength{				
					$bardelay:-$delaySize+($n*$delaySize);
				   	&:nth-child(#{$n}){
						div{
					      	@for $i from 1 through $gblength{
					      		&:nth-child(#{$i}){
					      			span{
										-webkit-animation-name: barsAnimationIn;
										-webkit-animation-duration: $animTime;
										-webkit-animation-iteration-count: 1;
										-webkit-animation-direction: normal;
										-webkit-animation-timing-function: $ease-in-out;
										-webkit-animation-fill-mode: forwards;
										-webkit-animation-delay: $bardelay+($i*0.05s);
					      			}
					      		}
							}
						}
					}				
				}				
			}


		}
	}
	&.out{
		#greenbars {
			ul li {
		      	@for $n from 1 through $barlength{				
					$bardelay:-$delaySize+($n*$delaySize);
				   	&:nth-child(#{$n}){
						div{
					      	@for $i from 1 through $gblength{
					      		&:nth-child(#{$i}){
					      			span{
										-webkit-transform: scaleX(1);

										-webkit-animation-name: barsAnimationOut;
										-webkit-animation-duration: $animTime;
										-webkit-animation-iteration-count: 1;
										-webkit-animation-direction: reverse;
										-webkit-animation-timing-function: $ease-in-out;
										-webkit-animation-fill-mode: forwards;
										-webkit-animation-delay: $bardelay+($i*0.05s);
					      			}
					      		}
							}
						}
					}				
				}				
			}
		}
	}
}




@-webkit-keyframes barsAnimationTimer {
  0% {
    height:1080px;
  }
  50% {
    height:1080px;
  }
  100%{
    height:1080px;
  }
}
@-webkit-keyframes barsAnimationIn {
  0% {
  	opacity: 0;
	-webkit-transform: scaleX(0);
  }
  0.1%{
  	opacity: 1;
	-webkit-transform: scaleX(0);
  }
  100%{
  	opacity: 1;
	-webkit-transform: scaleX(1);
  }
}
@-webkit-keyframes barsAnimationOut {
  0% {
  	opacity: 0;
	-webkit-transform: scaleX(0);
  }
  0.1%{
  	opacity: 1;
	-webkit-transform: scaleX(0);
  }
  100%{
  	opacity: 1;
	-webkit-transform: scaleX(1);
  }
}