.blinds{

	/*section animation*/
/*	section {
	  &.out{
		 -webkit-animation: equalTextOut .2s 0 1 normal;
		 opacity:0;
	  }
	  &.in{
		 -webkit-animation: equalTextIn .2s 0 1 normal;
		 opacity:1;
	  }
	  &.ondeck{

	  }
	}
*/
	/*green shutters animation*/
	#shutters{
	    -webkit-transform-origin: 0% 0%;
		-webkit-transform: skewY(334deg);

		width:$display_width;
		margin: 0 auto;
	    height: 1482px;
	    ul{
	      width: 100%;
	      height: 100%;
	      //overflow: hidden;
	      li{

	        position: relative;
	        span{
 		      -webkit-transform-origin: 0% 0%;
			  -webkit-transform: scaleY(0);
	          position: absolute;
	          background: $green;
	          width:100%;
	          height:100%;
	          margin: auto 0;

	        }
	        width:100%;
			height:0;
	      }
	    }
	  }
	  &.in{
	  	.animations{
			 -webkit-animation: shutterAnimationTimer .8s .2s steps(1) 2 normal;
	  	}

	    #shutters {
	      ul li{
		      @for $i from 1 through 15{
		        &:nth-child(#{$i}){
		          height:117px;

		          span {
					 -webkit-animation-name: shutterEqualAnimation;
					 -webkit-animation-duration: .8s;
					 -webkit-animation-iteration-count: 2;
					 -webkit-animation-direction: alternate;
					 -webkit-animation-timing-function: $ease-in-out;
					 -webkit-animation-fill-mode: forwards;
					 -webkit-animation-delay: 0s;
		          }      
		        }
		      }
		  }
	    }
	  }
	  &.out{
	    #shutters {
	      ul li span{
		    -webkit-transform-origin: 0% 100%;
	 	  }
	    }
	  }
}

@-webkit-keyframes shutterEqualAnimation {
  0% {
  	opacity:0;
	-webkit-transform: scaleY(0);
  }
  1% {
  	opacity:1;
	-webkit-transform: scaleY(.01);
  }
  80% {
	-webkit-transform: scaleY(1.02);
  	opacity:1;
  }
  100%{
	-webkit-transform: scaleY(1.02);
  	opacity:1;  	
  }
}
@-webkit-keyframes shutterAnimationTimer {
  0% {
    height:1080px;
  }
  100%{
    height:1080px;
  }
}
@-webkit-keyframes sectionIn{
  0% {
  	opacity:0;
  	top:$height/2;
  }
  100%{
  	opacity:1;
  	top:0;
  }
}
@-webkit-keyframes sectionOut {
  0% {
  	opacity:1;
  	top:0;
  }
  100%{
  	opacity:0;
  	top:$height/2;
  }
}
