$gslength:1.2s;
$gscount:16;
.cascade{

	/*section animation*/
/*	section {
	  &.out{
		 -webkit-animation-name: shutterTextIn;
		 -webkit-animation-duration: .2s;
		 -webkit-animation-iteration-count: 1;
		 -webkit-animation-direction: normal;
		 -webkit-animation-timing-function: ease-out;
		 -webkit-animation-fill-mode: backwards;
		 -webkit-animation-delay: 0s;
		 opacity:0;
	  }
	  &.in{
		 -webkit-animation-name: shutterTextIn;
		 -webkit-animation-duration: .2s;
		 -webkit-animation-iteration-count: 1;
		 -webkit-animation-direction: normal;
		 -webkit-animation-timing-function: ease-out;
		 -webkit-animation-fill-mode: forwards;
		 -webkit-animation-delay: 0s;
		 opacity:1;
	  }
	}*/

	/*green shutters animation*/
	#shutters{
	    -webkit-transform-origin: 50% 50%;
	    -webkit-transform: rotate(334deg);
		width:1920px;
		margin: 0 auto;
	    height: 1482px;
	    position: absolute;
	    top: -200px;
	    left: 0;
	    ul{
	      width: 100%;
	      height: 100%;
	      li{
	        position: relative;
	        span{
	          position: absolute;
	          background: $green;
	          width:100%;
	          height:0%;
	          margin: auto 0;

	        }
	        width:100%;
	        height:6.25%;

	      }
	    }
	  }
	  &.in{
	  	&.text-animation-off{
		  	section.ondeck{}
	  	}

	  	.animations{
			 -webkit-animation-name: shutterAnimationTimer;
			 -webkit-animation-duration: $gslength;
			 -webkit-animation-iteration-count: 2;
			 -webkit-animation-direction: alternate;
			 -webkit-animation-timing-function: $ease-in-out;
			 -webkit-animation-fill-mode: forwards;
			 -webkit-animation-delay: .2s;
	  	}

	    #shutters {
	      ul li{
		      @for $i from 1 through $gscount{
		        &:nth-child(#{$i}){
		          span {
					 -webkit-animation-name: shutterAnimation;
					 -webkit-animation-duration: ($gslength)-($i*.05s);
					 -webkit-animation-iteration-count: 2;
					 -webkit-animation-direction: alternate;
					 -webkit-animation-timing-function: $ease-in-out;
					 -webkit-animation-fill-mode: forwards;
					 -webkit-animation-delay: .2s+($i*.05s);
		          }      
		        }
		      }
		  }
	    }
	  }
	  &.out{
	    #shutters {
	 	   -webkit-transform: rotate(154deg);
	    }
	  }
}


@-webkit-keyframes shutterAnimation {
  0% {
    height: 0;
    opacity:0;
  }
  1% {
    height: 1%;
    opacity:1;
  }
  60% {
    height: 102%;
    opacity:1;
  }
  100%{
    height: 102%;
    opacity:1;
  }
}
@-webkit-keyframes shutterAnimationTimer {
  0% {
    height:1080px;
  }
  100%{
    height:1080px;
  }
}
@-webkit-keyframes shutterTextIn{
  0% {
  	opacity:0;
  	top:$height/2;
  }
  100%{
  	opacity:1;
  	top:0;
  }
}
@-webkit-keyframes shutterTextOut {
  0% {
  	opacity:1;
  	top:0;
  }
  100%{
  	opacity:0;
  	top:$height/2;
  }
}
