.dovetail{

	/*section animation*/
/*	section {
	  &.out{
		 -webkit-animation: equalTextOut .2s 0 1 normal;
		 opacity:0;
	  }
	  &.in{
		 -webkit-animation: equalTextIn .2s 0 1 normal;
		 opacity:1;
	  }
	  &.ondeck{

	  }
	}
*/
	/*green shutters animation*/
	#shutters{
	    -webkit-transform-origin: $display_width/2 $display_height/2;

	 	-webkit-transform: rotate(0deg);
	 	-webkit-transform: translateY(-45px);

		width:$display_width;
		margin: 0 auto;
	    height: 1482px;
	    ul{
	      width: 100%;
	      height: 100%;
	      //overflow: hidden;
	      li{
		    -webkit-transform-origin: 0% 0%;

			-webkit-transform: skewY(337.89055165624833deg);

	        position: relative;
	        span{
 		      -webkit-transform-origin: 0% 0%;
			  -webkit-transform: scaleX(0);
	          position: absolute;
	          background: $green;
	          width:100%;
	          height:101%;

	          margin: auto 0;

	        }
	        width:100%;
			height:234px;
	        &:nth-child(even){
	        	span{
		 		    -webkit-transform-origin: 100% 100%;	        	
	        	}
	        }

	      }

	    }
	  }
	  $animationlength:1.2s;
	  $animationOffset:.07s;
	  &.in{
	  	.animations{
			 -webkit-animation: shutterAnimationTimer $animationlength 0 steps(1) 2 normal;
	  	}

	    #shutters {

	      ul li{

		      @for $i from 1 through 7{
		        &:nth-child(#{$i}){

		          span {
					 -webkit-animation-name: shutterDovetailInAnimation;
					 -webkit-animation-duration: ($animationlength)-($i*$animationOffset);
					 -webkit-animation-iteration-count: 1;
					 -webkit-animation-direction: normal;
					 -webkit-animation-timing-function: $ease-in-out;
					 -webkit-animation-fill-mode: forwards;
					 -webkit-animation-delay: ($i*$animationOffset);
		          }      
		        }
		      }
		  }
	    }
	  }
	  &.out{
	    #shutters {

	      ul li {
	      	$n:7;
			@while $n > 0 {
		        &:nth-child(#{$n}){
		          span {
					-webkit-transform: scaleX(1);

					 -webkit-animation-name: shutterDovetailOutAnimation;
					 -webkit-animation-duration: ($animationlength)-($n*$animationOffset);
					 -webkit-animation-iteration-count: 1;
					 -webkit-animation-direction: reverse;
					 -webkit-animation-timing-function: $ease-in-out;
					 -webkit-animation-fill-mode: forwards;
					 -webkit-animation-delay: ($n*$animationOffset);
		          }      
		        }
				$n:($n - 1);
			}

			span{
		    	-webkit-transform-origin: 100% 100%;
	 	  	}
	        &:nth-child(even){
				span{
			    	-webkit-transform-origin: 0% 100%;
		 	  	}
	        }
	      }
	    }
	  }
}

@-webkit-keyframes shutterDovetailInAnimation {
  0% {
  	opacity:0;
	-webkit-transform: scaleX(0);
  }
  1% {
  	opacity:1;
	-webkit-transform: scaleX(0);
  }
  100%{
	-webkit-transform: scaleX(1);
  	opacity:1;  	
  }
}
@-webkit-keyframes shutterDovetailOutAnimation {
  0% {
  	opacity:0;
	-webkit-transform: scaleX(0);
  }
  1% {
  	opacity:1;
	-webkit-transform: scaleX(0);
  }
  100%{
	-webkit-transform: scaleX(1);
  	opacity:1;  	
  }
}
@-webkit-keyframes shutterAnimationTimer {
  0% {
    height:1080px;
  }
  100%{
    height:1080px;
  }
}
@-webkit-keyframes sectionIn{
  0% {
  	opacity:0;
  	top:$height/2;
  }
  100%{
  	opacity:1;
  	top:0;
  }
}
@-webkit-keyframes sectionOut {
  0% {
  	opacity:1;
  	top:0;
  }
  100%{
  	opacity:0;
  	top:$height/2;
  }
}
