$hazardheight: 1578px;
.swype{
	/*section animation*/
/*	section {
	  &.out{
		 -webkit-animation: equalTextOut .2s 0 1 normal;
		 opacity:0;
	  }
	  &.in{
		 -webkit-animation: equalTextIn .2s 0 1 normal;
		 opacity:1;
	  }
	  &.ondeck{

	  }
	}
*/
	/*green shutters animation*/
	#shutters{
	    -webkit-transform-origin: 0 0;

		width:$display_width;
		margin: 0 auto;
	    height: 100%;
	    ul{
	      width: 100%;
	      height: 1080px;
	      position: absolute;
	      overflow: hidden;
	      li{
	        &:nth-child(1){
		    -webkit-transform-origin: 0% 0%;
			-webkit-transform: skewY(337.89055165624833deg);
	        width:100%;
			height:$hazardheight;
			position: absolute;
			top: -$hazardheight;

	        span{
	        	display: block;
	          position: relative;
	          background: $green;
	          width:100%;
	          height:100%;

	          margin: auto 0;

	        }

	    	}

	      }

	    }
	  }
	  $animationlength:1.4s;
	  $animationOffset:.05s;
	  &.in{
	  	.animations{
				 -webkit-animation-name: swypeAnimationTimer;
				 -webkit-animation-duration: $animationlength/2;
				 -webkit-animation-iteration-count: 2;
				 -webkit-animation-direction: normal;
				 -webkit-animation-fill-mode: normal;
				 -webkit-animation-delay: ($animationOffset);
	  	}

	    #shutters {

	      ul li{
	        &:nth-child(1){
//			  	top:-$hazardheight;
				 -webkit-animation-name: swypeInAnimation;
				 -webkit-animation-duration: $animationlength;
				 -webkit-animation-iteration-count: 1;
				 -webkit-animation-direction: normal;
				 -webkit-animation-timing-function: $ease-in-out;
				 -webkit-animation-fill-mode: forwards;
				 -webkit-animation-delay: ($animationOffset);
		    }
		  }
	    }
	  }
	  &.out{
	  }
}

@-webkit-keyframes swypeInAnimation {
  0% {
  	top:-$hazardheight;
  }
  48% {
  	top:0;
  }
  52% {
  	top:0;
  }

  100%{
  	top:1620px;
  }
}

@-webkit-keyframes swypeAnimationTimer {
  0% {
    height:1080px;
  }
  100%{
    height:1080px;
  }
}
