@font-face {
  font-family:'OneNikeGlyphs';
  src: url("./fonts/OneNikeGlyphs-4d27d72f6f54765448c9e94016cc22db.eot");
  src: url("./fonts/OneNikeGlyphs-4d27d72f6f54765448c9e94016cc22db.eot?#iefix") format("eot"), url("./fonts/OneNikeGlyphs-4d27d72f6f54765448c9e94016cc22db.woff") format("woff"), url("./fonts/OneNikeGlyphs-4d27d72f6f54765448c9e94016cc22db.ttf") format("truetype"), url("./fonts/OneNikeGlyphs-4d27d72f6f54765448c9e94016cc22db.svg#OneNikeGlyphs") format("svg");
  // src:url("./fonts/OneNikeGlyphs-4d27d72f6f54765448c9e94016cc22db.svg#OneNikeGlyphs") format("svg")
}

@font-face {
  font-family: "FuturaW01-ExtraBoldCond 774896";
  src: url("./fonts/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot");
  src: url("./fonts/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix") format("eot"), url("./fonts/04733668-9f3f-4f2f-a534-14fb44683f83.woff") format("woff"), url("./fonts/1f9bced0-1224-4785-9553-68fcbac00914.ttf") format("truetype"), url("./fonts/23d05127-305c-4753-8f3a-16d8109db5ca.svg#23d05127-305c-4753-8f3a-16d8109db5ca") format("svg");
}

@font-face{
  font-family: "TradeGothicW01-BoldCn20 675334";
  src: url("./fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot");
  src: url("./fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("embedded-opentype"),
       url("./fonts/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"),
       url("./fonts/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"),
       url("./fonts/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#c901ad5f-a842-4549-a1f4-583a97f7e169") format("svg");
}

@font-face {
  font-family: 'TradeGothicCondensed';
  src: url('./fonts/tradegothiccondensed.eot');
  src: url('./fonts/tradegothiccondensed.eot?#iefix') format('eot'),
       url('./fonts/tradegothiccondensed.woff') format('woff'),
       url('./fonts/tradegothiccondensed.ttf') format('truetype'),
       url('./fonts/tradegothiccondensed.svg#webfontuqmQvE74') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyph {
  font-family: "OneNikeGlyphs";
  display: inline-block;
  overflow: hidden;
  text-align: left;
}
.glyph-nikeplus:before {
  content: "\f132";
}