@mixin transition {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.multi-swipe, .single-swipe {
  @include transition;

  > div {
    height: 100%;
    position: absolute;
    width: 100%;
    transform: translateY(105%);

    &.slide1 {
      > div {
        background: #fff;
        height: 320%;
      }
    }
    &.slide2 {
      > div {
        background: #000;
        height: 140%;
      }
    }
    &.single-slide {
      > div {
        background: #000;
        height: 320%;
      }
    }
  }

  .play-multi-swipe & {
    .slide1 {
      animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      animation-duration: 1600ms;
      animation-name: slide1;
      // transform: translateY(101%);
    }
  }

  .play-multi-swipe & {
    .slide2 {
      animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      animation-duration: 1450ms;
      animation-name: slide2;
      animation-delay: 400ms;
      // transform: translateY(101%);
    }
  }

  .play-single-swipe & {
    .single-slide {
      animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      animation-duration: 1600ms;
      animation-name: slide1;
      // transform: translateY(101%);
    }
  }
}

@-webkit-keyframes slide1 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-320%);
  }
}

@-webkit-keyframes slide2 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-140%);
  }
}

@-webkit-keyframes single-slide {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-140%);
  }
}

@keyframes slide1 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-320%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-140%);
  }
}

@keyframes single-slide {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-140%);
  }
}

.play-translate-up {
  .sections-container > .ps-section {

    // height: 0%;

    > .container1 {
      // bottom: 0;
      // height: 100%;
      // position: absolute;
      // width: 100%;
    }

    // -moz-transition: height 1s cubic-bezier(0.77, 0, 0.175, 1);
    // -o-transition: height 1s cubic-bezier(0.77, 0, 0.175, 1);
    transition: height 1s cubic-bezier(0.77, 0, 0.175, 1);
    // -webkit-transition: height 1s cubic-bezier(0.77, 0, 0.175, 1);

  }
}
.play-translate-up {
  .sections-container > .ps-section {
    &.show {
      // bottom: 0;
      // height: 100%;
      // top: auto;
      // z-index: 5;
    }

    &.hide {
      height: 0;
      visibility: visible;
      z-index: 5;

      .ps-section {
        visibility: visible;
      }
    }
  }

  .ps-section[ps-sectionid="footer"], .ps-section[ps-sectionid="footerplain"] {
    opacity: 1 !important;
    // -webkit-transition: opacity 0s linear;
    // -o-transition: opacity 0s linear;
    // transition: opacity 0s linear;
    transition: opacity 0s linear;
    visibility: visible;
  }

  .ps-section[type="layout-two-containers"] .container2 {
    .ps-section[ps-sectionid="footer"] {
      opacity: 1 !important;
    }
  }

  .ps-section[type="day-view"] .day-list-wrapper .day-list .day-item .day-item-wrapper {
    top: 0;
  }

  .ps-section[type="animated-text"] .section-content {
    // height:1920px;
    // padding-top:635px;
    // top:950px;

    > .blocks-wrapper .block-animator {
      // -webkit-transition: bottom 1s cubic-bezier(0.77, 0, 0.175, 1) 0.25s, opacity .3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
      // -o-transition: bottom 1s cubic-bezier(0.77, 0, 0.175, 1) 0.25s, opacity .3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
      transition: bottom 1s cubic-bezier(0.77, 0, 0.175, 1) 0.25s, opacity .3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;

      // -webkit-transition: bottom 1s cubic-bezier(0.77, 0, 0.175, 1) 1.25s, opacity .3s cubic-bezier(0.77, 0, 0.175, 1) 1.3s;
      // -o-transition: bottom 1s cubic-bezier(0.77, 0, 0.175, 1) 1.25s, opacity .3s cubic-bezier(0.77, 0, 0.175, 1) 1.3s;
      transition: bottom 1s cubic-bezier(0.77, 0, 0.175, 1) 1.25s, opacity .3s cubic-bezier(0.77, 0, 0.175, 1) 1.3s;
    }
  }
}

.swype.mask{
    position: absolute;
    left: 0;
    top:0;
    width:1920px;
    height:$display_height;
    z-index: 5;

    background: url(../../../assets/img/maskimage.png);
    background-size: 1920px $display_height;
    background-position: center top;
}
