// colors
$volt: #d4ff45;

$green:#d4ff45;
$white:#fff;
$height:144px;
$row-margin-bottom:90px;
$totalheight:234px;

$ease-in-out:cubic-bezier(0.86, 0, 0.07, 1);

$ease-in:cubic-bezier(0.755, 0.05, 0.855, 0.06);

$ease-out:cubic-bezier(0.23, 1, 0.32, 1);

$display_width:1152px;
$display_height:1080px;