<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    {{#if LOCAL_DEV}}
      <link rel="stylesheet" href="/readerboard/styles/dev/app.css" />
    {{else}}
      <link rel="stylesheet" href="//{{s3Endpoint}}/readerboard/styles/{{version}}/app.css" />
    {{/if}}
    <link rel="icon" type="image/ico" href="/assets/favicon.ico" />
    <script>
      // mycity urls
      var MyCity = window.MyCity || {};

      {{#if LOCAL_DEV}}
        MyCity.skinUrl = '/readerboard/styles/dev/skins/';
      {{else}}
        MyCity.skinUrl = '//{{s3Endpoint}}/readerboard/styles/{{version}}/skins/';
      {{/if}}
    </script>
</head>
<body>
  <div class="sections-container"></div>
  {{#if LOCAL_DEV}}
    <script src="/readerboard/scripts/dev/app.js"></script>
  {{else}}
    <script src="//{{s3Endpoint}}/readerboard/scripts/{{version}}/app.js"></script>
  {{/if}}
</body>
</html>
