<section type="slide" ps-sectionid="{{sectionid}}" class="ps-section" style="background-image: url({{content.backgroundImage}});background-origin: padding-box;background-position: 50% 50%;background-repeat: no-repeat;background-size: auto;">

</section>