.ps-section {
  color: #fff;
  font-family: "TradeGothicW01-BoldCn20 675334";
  font-size: 60px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  &.show {
    visibility: visible;
    z-index: 2;

    .ps-section {
      visibility: visible;
    }
  }

  // fixed-text
  &[type="fixed-text"] {
    .section-content {
      height: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      width: 100%;
    }
  }

  // animated-text
  &[type="animated-text"] {
    .section-content {
      height: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      width: 100%;

      > .blocks-wrapper {
        height: 1920px;
        overflow: hidden;
        position: relative;
        width: 100%;

        .block-animator {
          height: 100%;
          position: absolute;
          width: 100%;

          .block {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  // calendar
  &[type="calendar"] {
    > ul {
      display: block;
      height: 100%;
      transition: 1s top linear;
      width: 100%;

      > li {
        font-size: 75px;
        letter-spacing: -3px;
        line-height: 68px;
        padding-bottom: 20px;
        padding-top: 20px;
        position: absolute;
        text-transform: uppercase;
        transition: 1000ms top ease;

        > .event-title {
          color: #3AD531;
        }
      }

      &.calendar-hidden {
        visibility: hidden;
      }
    }
  }

  &.image-background {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  > .video-background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;

    &.play {
      visibility: visible;
    }
  }

  // day view
  &[type="day-view"] {
    .day-item-wrapper {
      background: #000;
    }
  }
}

.plus-symbol {
  display: inline-block;
  position: relative;
  top: -3px;
}