.animations{
  width:1920px;
  height:1080px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

@import "./animations/_cascade.scss";
@import "./animations/_blinds.scss";
@import "./animations/_hazardbar.scss";
@import "./animations/_dovetail.scss";
@import "./animations/_swype.scss";


/*section {
  &.ready{
    top: $height;
    opacity: 0;
  }

  &.out{
    @include transition(top,opacity 0.4s ease-out);     
    top: -$height;
    opacity:0;
  }
  &.in{
    @include transition(top,opacity 0.4s ease-out);     
    z-index: 1;
    opacity:1;
    top:0;
  }
}

*/