@import "common/_vars.scss";
@import "common/_reset.scss";
@import "common/_fonts.scss";
@import "common/_sections.scss";
@import "common/_transition.scss";
@import "_mixins.scss";
@import "_animations.scss";

$row-position: (
        order-1: ($height + $row-margin-bottom) * 0,
        order-2: ($height + $row-margin-bottom) * 1,
        order-3: ($height + $row-margin-bottom) * 2,
        order-4: ($height + $row-margin-bottom) * 3,
        order-5: ($height + $row-margin-bottom) * 4
);

//Create loop that gets key values
//where @each $key, $value in $map
@each $row, $value in $row-position {
  .slide__row.slide__row-#{$row} {
    position: absolute;
    top:$value;
  }
}

html, body {
  height: 100%;
}

body {
  background:#000;
  overflow: hidden;
  width:1920px;
  height:$display_height;
}

.sections-container {
  width:$display_width;
  height:$display_height;
  margin:0 auto;
  position: relative;
  overflow: hidden;

  section section{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    z-index: 0;
    color: $white;
    top: 0;
    opacity:0;



    .slide__row {
      width: 100%;
      height:$height;
      line-height: $height;
      margin-bottom: 90px;
      box-sizing: border-box;

      &.text-center {
        text-align: center;
      }

      &.text-left {
        text-align: left;
      }

      &.text-right {
        text-align: right;
      }

      &.slide__row-multiple {
        display: none;

        &.active {
          display: block;
        }
      }

      &.slide__row-text {
        text-transform: uppercase;
        @include tradefont1(90px, 10px);
        padding: 0 50px;
        .plus-symbol{
          display: inline-block;
          position: relative;
          top: -10px;
        }
      }

      &.slide__row-event {
            padding: 0 50px;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            text-transform: uppercase;
            @include tradefont1(60px, 0px);
            width: 100%;
            white-space: nowrap;
            display: none;

            .plus-symbol{
              display: inline-block;
              position: relative;
              top: -7px;
            }
            &:last-child {
              margin-bottom: 0px;
            }



            .location-swipe {
              background: #000;
              border-right: 6px solid $green;
              box-sizing: border-box;
              display: none;
              height: 80px;
              left: 0;
              line-height: 80px;
              overflow: hidden;
              padding: 0 0 0 0;
              position: absolute;
              top: 32px;
              text-overflow: ellipsis;
              -webkit-transition: width 750ms $ease-in;
              transition: width 750ms $ease-in;
              white-space: nowrap;
              width: 0%;

              &.animate {
                width: 105%;
              }

              span {
                box-sizing: border-box;
                display: block;
                margin-left: 50px;
                margin-right: 50px;
                // padding: 0 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 1052px;
              }
            }
      }

      .handle,
      .hashtag {
        //bottom: 0;
        color: $green;
        //display: none;
        margin-bottom: 0;
        //position: absolute;
        @include tradefont1(60px, 0px);

        &.show {
          display: list-item;
        }

        span {
          display: inline-block;
          float: right;
        }
      }

      .handle {
        letter-spacing: 1px;
        //padding: 0 55px 0 45px;
      }

      .hashtag {
        font-size: 80px;
        text-align: center;
      }

      .hashtag-center {
        @include tradefont1(64px, 1px);

        height: 144px;
        line-height: 144px;
        margin-bottom: 90px;
        text-align: center;
        color: #fff;

        .url {
          color: #d4ff45;
        }
      }
    }



    &.trainingclub{
      ul{
        li{
          span.line{
            display: inline-block;
            height: 112px;
            border-bottom:4px solid $white;
          }
        }
      }
    }
    &.out{
      opacity:0;
    }
    &.in,&.ondeck{
      opacity:1;
    }

    &.proservices {
      background: url(../assets/img/nyclogo.jpg);
      background-position: 50%;
      background-repeat: no-repeat;

      h2 {
        opacity: 0;
      }

      .hashtag {
        font-family: "FuturaW01-ExtraBoldCond 774896", Helvetica, Arial, sans-serif;
        letter-spacing: -1px;
      }
    }

  }

  section.show section {
    opacity:1;
  }
}


.ps-section[ps-sectionid="footer"] {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;

  .show & {
    opacity: 1;
  }
}

.ps-section[type="layout-two-containers"] {
  .containers-wrapper {
    // height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;

    > div {
      box-sizing: border-box;

      &.container1 {
        height: 100%;
        text-transform: uppercase;
      }

      &.container2 {

        background: transparent;
      }
    }
  }
}

::selection { background: transparent; }

* {
  user-select: none;
}